<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
		<script>
		$(document).ready(function(){
    	$('[data-bs-toggle="tooltip"]').tooltip();   
		});
		</script>
\

	<style>
	      body {
	        background-image: url('https://storage.googleapis.com/osdbushare/Background_Website.jpg');
	        background-repeat: no-repeat;
	        background-attachment: fixed;
	        background-position: center;
	      }
	</style>
	</head>
		<body> 
			<br></br>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<img src="https://storage.googleapis.com/osdbushare/boardroom_b.jpg" width="800" height="600">
				</div>


				<div class="col-md-6 col-sm-6" style="padding-left: 225px">
					<form method="POST", action="{{url_for('home')}}">
						<b> <b>Company Name:</b> <input type="text", name='a', value="none"> <br><br>
						<b> NAICS: <input type="text", name='b', value="none"><br><br>
						<b> State: <input type="text", name='c', value="none"><br><br>
						<b> State: </b>
						<select>
							<option value="none">All States and Territories</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
							<option value="AS">American Samoa</option>
							<option value="GU">Guam</option>
							<option value="MP">Northern Mariana Islands</option>
							<option value="PR">Puerto Rico</option>
							<option value="UM">United States Minor Outlying Islands</option>
							<option value="VI">Virgin Islands</option>
						</select><br><br>
						<b> Women Owned: <input type="text", name='d', value="none"> <br><br>
						<b> 8A Company: <input type="text", name='e', value="none"> <br><br>
						<b> Disabled Vet: <input type="text", name='f', value="none"> <br><br>
						<b> Hub Zone: <input type="text", name='g', value="none"> <br><br>
						<b> Minority Ownership: <input type="text", name='h', value="none"> <br><br>
						<a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="This is a test to show how the tooltip will work. &#013; &#013; &#013; &#013; I will keep working on this to show the examples of how this will work. I am happy to use this tool \n to help express how to give information on these different forms. It will be so good to express this.">NNSA</a><br>
						<b> <input type="text", name='i', value="none"> <br><br>
						<b> Text: <input type="text", name='j', value="none"> <br><br>
						<b>Smart Filter Search</b><br>
						<b> <input type="text a", name='k', value="none"> <br><br>
						<b> My Checkboxes <br>
						<b>Checkbox 1 <input type='Checkbox', value = "1", name = "mycheck"> 
						<b>Checkbox 2 <input type='Checkbox', value = "2", name = "mycheck"> 
						<b>Checkbox 3 <input type='Checkbox', value = "3", name = "mycheck"> 
						<b>Checkbox 4 <input type='Checkbox', value = "4", name = "mycheck">
						<b>Checkbox 5 <input type='Checkbox', value = "5", name = "mycheck">
						<b>Checkbox 6 <input type='Checkbox', value = "6", name = "mycheck">
						<b>Checkbox 7 <input type='Checkbox', value = "7", name = "mycheck">
						<b>Checkbox 8 <input type='Checkbox', value = "8", name = "mycheck">
						<b>Checkbox 9 <input type='Checkbox', value = "9", name = "mycheck"> 
						<b>Checkbox 10 <input type='Checkbox', value = "10", name = "mycheck"> <br>
						<br><br>
						<textarea rows="4" cols="40" name="comment"></textarea>
						<br><br>
						<input type="submit" , value='submit', style='height:40px; width:150px',Text-align: center>
					    <div class="container">
				</div>


		    </div>

		</div>	

   
  
      <h1>{{ title }}</h1>
      
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
			</form>
		</body>
</html>